---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
Hi! I am a Ph.D. candidate in Mathematics at ETH Zürich, working under the supervision of <a href="https://people.math.ethz.ch/~abandMDeira/">Prof. Afonso Bandeira</a> and <a href="https://people.math.ethz.ch/~ychen2/">Prof. Yuansi Chen</a>.
My research interests lie in high-dimensional probability, Markov Chain Monte Carlo (MCMC), concentration of measure, and statistical machine learning.
</p>

<p>
My current work investigates sampling from high-dimensional probability measures, with a focus on settings where the target measure exhibits symmetry under a group action.
</p>

</p>
Prior to my Ph.D., I was a research intern in the <a href= "https://sml.inf.ethz.ch">statistical machine learning group</a> at ETH Zürich led by <a href = "https://sml.inf.ethz.ch/group/fannyy/">Prof. Fanny Yang</a>, where I worked on minimum norm interpolation in Sobolev spaces under the supervision of <a href= "https://sites.google.com/view/gilkur">Gil Kur</a>.
</p>

<p>
Previously, I completed my M.Sc. in Mathematics at the University of Mannheim, where my thesis on <i>Mathematical Foundations and Asymptotic Theory for Neural Estimators</i> was supervised by <a href="https://www.unige.ch/math/folks/engelke/">Prof. Sebastian Engelke</a> (University of Geneva). I also hold a double B.Sc. in Economics and in Mathematics in Business and Economics from the University of Mannheim.
</p>
</div>

<!-- ========== NEWS ========== -->
<div class="docs-section" id="news">
  <h4>News</h4>
<table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tbody>
        <tr>
            <td style="padding:2.5%;">

                <div style="max-height: 150px; overflow-y: auto; border: 1px solid #ddd; border-radius: 8px; padding: 15px 15px 5px 15px; background-color: #F9F9F9;">
                    <ul style="padding-left: 25px; margin-top: 0; margin-bottom: 0;">
                      <li style="margin-bottom: 12px;"> August 2026: We are organizing a <a href="https://morat2026.epfl.ch"> summer school</a> on the Mathematics of Randomized Linear Algebra Techniques.</li>
<li style="margin-bottom: 12px;">July 2026: I will attend the the workshop on Synergies between Geometry, Probability, and Computation in High Dimensions at ICERM (Brown University).</li>
<li style="margin-bottom: 12px;">September 2025: I will attend the the summer school on the Mathematical Aspects of Data Science at EPFL.</li>
<li style="margin-bottom: 12px;">June 2025: I will attend the HSM special topic school on Statistical Mechanics of spin glasses, neural networks and learning at the University of Bonn.</li>
                      <li style="margin-bottom: 12px;">November 2024: I started my PhD at ETH Zürich.</li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>
</div>

<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Preprints &amp; Other Work</h4>

  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
  </p>

  <ul class="tab-nav">
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


<!-- ========== TEACHING ========== -->
<div class="docs-section" id="teaching">
  <h4>Teaching</h4>

  <div class="paper">
    <p><b>Teaching Assistant</b>, ETH Zurich (2024&ndash;2026)</p>
    <ul>
      <li><i>Further Topics in Mathematics of Data Science</i> (Master's course) &mdash; advanced session on the mathematics of data science, with a focus on open problems and recent advances in research.   <p> <a href={{ "assets/lecture_notes/MDS_Further_Topics-2025_Fall.pdf" | prepend: site.baseurl }} target="_blank">Lecture notes</a>.</p>
      <li><i>Further Topics in Mathematics of Signals, Networks and Learning</i> (Bachelor's course) &mdash; advanced session for undergraduate students and introduction into relevant research topics.</li>
    </ul>
  </div>

  <div class="paper">
    <p><b>Teaching Assistant</b>, University of Mannheim (2019&ndash;2023)</p>
    <ul>
      <li>Teaching Assistant for Linear Algebra, Stochastics II and Extreme Value Theory.</li>
    </ul>
  </div>

</div>


<!-- ========== BLOG ========== -->
<div class="docs-section" id="blog">
  <h4>Blog</h4>

  <div class="paper">
    <p class="title"><b><a href="https://randomstrasse101.math.ethz.ch/posts/SKModel-Glauber/" target="_blank">Sampling from the Sherrington-Kirkpatrick Model</a></b></p>
  </div>

  <div class="paper">
    <p class="title"><b><a href="https://randomstrasse101.math.ethz.ch/posts/KLSConjecture/" target="_blank">The KLS Conjecture</a></b></p>
  </div>
</div>


<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitae</h4>

  <p>Full CV in <a href={{ "/assets/cv/CV_Roedder.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p>
</div>

<div class="docs-section" id="template">
  <h4>Website Design</h4>
  Thank you <a href="https://faculty.washington.edu/msaveski/" target="_blank">Martin Saveski</a> for this awesome <a href="https://github.com/msaveski/www_personal" target="_blank">template</a>.
  <br/>
</div>
